/* Reset CSS
 * --------------------------------------- */
/* line 4, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

/* line 8, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
a {
  text-decoration: none;
}

/* line 11, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
table {
  border-spacing: 0;
}

/* line 14, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
fieldset, img {
  border: 0;
}

/* line 17, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

/* line 21, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
strong {
  font-weight: bold;
}

/* line 24, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 29, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
caption, th {
  text-align: left;
}

/* line 32, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* line 40, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
q:before, q:after {
  content: '';
}

/* line 43, Users/lucianonooijen/Documents/Git/Personal-site/sass/_0reset.sass */
abbr, acronym {
  border: 0;
}

/* line 2, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

/* line 14, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#menu li {
  display: inline-block;
  margin: 10px;
  color: #fff;
}

/* line 18, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#menu li a {
  text-decoration: none;
  color: #fff;
  padding: 9px 18px;
  display: block;
}

/* line 23, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#menu li.active a {
  padding: 9px 18px;
  display: block;
  color: #fff;
}

/* line 27, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#menu li:hover a {
  color: #aaa;
}

/* line 29, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#branding {
  float: left;
  clear: right;
  margin: -5px 10px !important;
  font-family: 'Tillana', cursive;
  font-size: 40px;
}

/* line 37, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
body {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

/* line 41, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

/* line 47, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
h1 {
  font-size: 6em;
}

/* line 50, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
p {
  font-size: 2em;
}

/* line 53, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
a {
  text-decoration: none;
  color: #aaa;
}

/* line 57, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
.intro p {
  width: 50%;
  margin: 40px auto;
  font-size: 1.5em;
}

/* line 62, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
.section {
  text-align: center;
}

/* line 65, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
.italic {
  font-style: italic;
}

/* line 68, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#fp-nav ul li a span {
  background: white;
}

/* line 72, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#luciano {
  background-image: url(img/code.jpg);
  background-size: cover;
}

/* line 76, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#over-mij {
  background-image: url(img/grass.jpg);
  background-size: cover;
}

/* line 80, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#skills {
  background-image: url(img/skills.jpg);
  background-size: cover;
}

/* line 83, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
table {
  margin: auto;
  max-width: 65vw;
}

/* line 86, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
table th, table td {
  padding: 6px 10px;
  text-align: left;
  font-size: 22px;
}

/* line 90, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
table th:nth-child(1), table td:nth-child(1) {
  font-weight: normal;
}

/* line 92, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
.geeky-notes {
  font-size: 18px !important;
}

/* line 95, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#ervaring {
  background-image: url(img/ervaring.jpg);
  background-size: cover;
}

/* line 99, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#opleiding {
  background-image: url(img/opleiding.jpg);
  background-size: cover;
}

/* line 103, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#contact {
  background-image: url(img/contact.jpg);
  background-size: cover;
}

/* line 106, Users/lucianonooijen/Documents/Git/Personal-site/style.sass */
#contact p {
  line-height: 32px;
}
/*# sourceMappingURL=style.css.map */